[defaults]
inventory = aws_ec2.yml
#private_key_file = /home/porwal-ji/bhawna/tool_mysql/assign5/Tool_MySql/devops.pem
host_key_checking = False
[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini, toml
