[defaults]
inventory = aws_ec2.yml
remote_user = ubuntu
private_key_file = /home/porwal-ji/bhawna/sessions/ansible_strategy/bhawna.pem
host_key_checking = False
[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini, toml
